<div class="wrapper">
    <div class="firstWrapper">
        <div>
            <h2>Samo Kolege</h2>
            <p>
                {{samoKolegeTekst}}
            </p>
        </div>
        <div>
            <h2>TVZ Mc2</h2>
            <p>
                {{mc2tekst}}
            </p>
            <div class="imageWrapper">
                <img style="width: 50%" src="../../assets/images/mc2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="secondWrapper">
        <h2>CS Computer Systems</h2>
        <p>{{cstekst}}</p>
        <div class="imageWrapper">
            <img src="../../assets/images/CS-RGB.png" alt="">
        </div>
    </div>
</div>
