<div class="firstBlock">
    <div class="firstBlockWrapper">
        <h1>Build your own puzzle!</h1>
        <p>Start building your own puzzles today.</p>
        <p-button label="Build"></p-button>
    </div>
</div>
<div class="secondBlock">
    <h2>Explore</h2>
    <div class="exploreWrapper">
         <div class="exploreComponent">
            <div class="imgWrapper">
                <img src="../../assets/images/jigsawBackground_2.jpg">
            </div>
            <div class="h3Wrapper">
                <h3></h3>
            </div>
            <div class="textWrapper">
                <p></p>
            </div>
            <div class="buttonWrapper">

            </div>
        </div>
        <div class="exploreComponent">
            <div class="imgWrapper">
                <img src="../../assets/images/jigsawBackground_2.jpg">
            </div>
            <div class="h3Wrapper">
                <h3></h3>
            </div>
            <div class="textWrapper">
                <p></p>
            </div>
            <div class="buttonWrapper">

            </div>
        </div>
        <div class="exploreComponent">
            <div class="imgWrapper">
                <img src="../../assets/images/jigsawBackground_2.jpg">
            </div>
            <div class="h3Wrapper">
                <h3></h3>
            </div>
            <div class="textWrapper">
                <p></p>
            </div>
            <div class="buttonWrapper">

            </div>
        </div>
    </div>
</div>
