:host ::ng-deep .p-toolbar{
    padding: 0px 10px;
    background-color: rgb(221, 184, 219);
    margin: 0px;
    border: none;
}
:host ::ng-deep .p-toolbar-group-right a{
    display: block;
    text-decoration: none;
    margin-right: 5px;
    padding: 20px 5px;
    /* height: 100%; */
    color: black;
}
:host ::ng-deep .p-toolbar-group-right span{
    display: flex;
    align-items: center;
    padding: 20px 5px;
}
:host ::ng-deep .p-toolbar-group-right i{
    display: block;
    margin-right: 2px;
}
:host ::ng-deep .p-toolbar-group-right a:hover{
    background-color: var(--hover-color);
}
:host ::ng-deep .p-toolbar-group-right span:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}
