*{
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
body{
    --background-color: rgb(221, 184, 219);
    --hover-color: rgb(219, 169, 217);
    --white-color: white;
}
app-courosel{
    width: 100%;
}
app-courosel2{
    width: 100%;
}