.slidingShit{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0px;

}
:host ::ng-deep .buttons .p-button:hover{
    background-color: var(--hover-color)!important;
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background-color: var(--background-color);
}